---
interface Props {
  headerTitle: string;
}

const { headerTitle } = Astro.props;

const socialsLink = import.meta.env.SOCIALS_LINK;
const socialsImage = import.meta.env.SOCIALS_IMAGE;
---

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/x-icon" href="../favicon.ico" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="preconnect"
    href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap"
      rel="stylesheet"
      type="text/css"
    />
  </noscript>
  <meta name="generator" content={Astro.generator} />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Primary Meta Tags -->
  <title>{headerTitle}</title>
  <meta name="title" content="Michael Hýbl - svatební fotograf" />
  <meta
    name="description"
    content="Zabývám se převážně svatební a event fotografií. Prohlídněte si mé portfolio a uvidíte, jak by mohly vypadat i Vaše fotografie."
  />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={socialsLink} />
  <meta property="og:title" content="Michael Hýbl - svatební fotograf" />
  <meta
    property="og:description"
    content="Zabývám se převážně svatební a event fotografií. Prohlídněte si mé portfolio a uvidíte, jak by mohly vypadat i Vaše fotografie."
  />
  <meta property="og:image" content={socialsImage} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={socialsLink} />
  <meta property="twitter:title" content="Michael Hýbl - svatební fotograf" />
  <meta
    property="twitter:description"
    content="Zabývám se převážně svatební a event fotografií. Prohlídněte si mé portfolio a uvidíte, jak by mohly vypadat i Vaše fotografie."
  />
  <meta property="twitter:image" content={socialsImage} />
</head>
